*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-logo{
    height: 50px;
    width: 140px;
    /* padding-right: 10px; */
}
.logo{
    background-image: url("Amazon-Logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* FOR BOX 2 */

.add-icon{
    display: flex;
    align-items: center;
}
.address-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.address-second{
    color: white;
    font-size: 1rem;
    margin-left: 3px;
}

/* For BOX 3 */

.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    text-align: center;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0f1111;
}

/* Box4 */

.nav-language{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60px;
    height: 30px;
    border: none;
}
.language-icon{
    /* width: 40%; */
    height: 50%;
}
.language-select{
    /* width: 90%; */
    height: 70%;
    font-size: 15px;
    background-color: #0f1111;
    color: white;
    border: none;
    font-weight: 700;
}

/* Box5 & Box6 */

span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Box7 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
}
.panel-options {
    width: 70%;
    font-size: 14px;
    p{
        display: inline;
        margin-left: 15px;
    }
}
.panel-deals{
    font-size: 15px;
    font-weight: 700;
}

/* Hero section */

.hero-section{
    background-image: url("hero-image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 25px;
    p{
        font-size: 0.85rem;
        a{
            text-decoration: none;
            color: #007185;
        }
    }
}

/* Shop section */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #dbdbd9;
    flex-wrap: wrap;
}
.box{
    height: 400px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8{
    .box-content{
        margin-left: 1rem;
        margin-right: 1rem;
        .box-img{
            height: 300px;
            background-size: cover;
            background-repeat: none;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        a{
            text-decoration: none;
            color: #007185;
            font-size: 0.85rem;
        }
    }
}

/* Footer */

/* footer{
    margin-top: 15px;
} */
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    ul{
        margin-top: 20px;
        p{
            font-size: 16px;
            font-weight: 700;
        }
        a{
            display: block;
            font-size: 0.85rem;
            margin-top: 10px;
            color: #DDDDDD;
        }
    }
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
        background-image: url("Amazon-Logo.png");
        background-size: cover;
        height: 50px;
        width: 150px;
    }
}
.foot-panel4{
    background-color: #131A22;
    color: white;
    height: 80px;
    text-align: center;
    .pages{
        font-size: 0.85rem;
        /* text-align: center; */
        padding-top: 25px;
    }
    .copyright{
        font-size: 0.85rem;
        /* text-align: center; */
        padding-top: 5px;
    }
}
/* Thankyou Bye! */